{% extends 'index.html' %}
{% block navbar_buttons %}

    <li><a class="nav-link scrollto active" href="{% url 'home' %}">Home</a></li>
    <!-- <li><a class="nav-link scrollto" href="#about">Acerca</a></li> -->
    <!-- <li><a class="nav-link scrollto" href="#services">Servicios</a></li> -->
    <li><a class="nav-link scrollto" href="#footer">Contacto</a></li>

{% endblock navbar_buttons %}

    {% block hero_txt %}

    <h1>PAGINA EN CONSTRUCCION<span>.</span></h1>
    <h2>Disculpa los inconcvenientes, seras redirigido a Home</h2>

    {% endblock hero_txt %}
    {% block hero_panel %}
    {% endblock hero_panel %}

{% block main_body %}
<script>
    setTimeout(function() {
            window.location.href = "{% url 'home' %}";
    }, 2800); // 5000 milliseconds = 5 seconds
</script>
{% endblock main_body %}