<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Intralog metrics - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Gp
  * Updated: Jan 09 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <main id="main"></main>


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <!-- <h1 class="logo me-auto me-lg-0"><a href="index.html">Gp<span>.</span></a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="https://intralog.com.ar/" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          {% block navbar_buttons %}
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Acerca</a></li>
          <!-- <li><a class="nav-link scrollto" href="#services">Servicios</a></li> -->
          <li><a class="nav-link scrollto" href="#footer">Contacto</a></li>
          {% endblock navbar_buttons %}
          <!-- <li class="dropdown"><a href="#"><span>Drop1</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      {% if request.user.is_authenticated %}
      <!-- <a href="#" class="get-started-btn scrollto" onclick="confirmLogout()">
        {% csrf_token %}
        Log out
      </a> -->
      
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="get-started-btn scrollto" onclick="confirmLogout()">
          <span style="color:darkslategray;">Log out</span></button>
      </form>
      {% else %}
      <a href="{% url 'login' %}" class="get-started-btn scrollto">Log in</a>
      {% endif %}

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          {% block hero_txt %}
          <h1>INTRALOG METRICS<span>.</span></h1>
          <h2>Bienvenido al portal de metricas y estadistica<br>de Intralog. S.A.</h2>
          {% endblock hero_txt %}
        </div>
      </div>

      {% block hero_panel %}
      {% if user.is_authenticated %}

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a href="{% url 'despacho_vs_entregas_main' %}">Entregas</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="{% url 'construccion' %}">Patrones</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-calendar-todo-line"></i>
            <h3><a href="{% url 'construccion' %}">fechas relevantes</a></h3>
          </div>
        </div>
        <!-- <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-paint-brush-line"></i>
            <h3><a href="">otro kpi</a></h3>
          </div>
        </div> -->
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-database-2-line"></i>
            <h3><a href="{% url 'construccion' %}">WH</a></h3>
          </div>
        </div>
      </div>
      {% endif %}
      {% endblock hero_panel %}

      
    </div>
  </section><!-- End Hero -->

  {% block main_body %}

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <h3>Acerca de nosotros</h3>
          <p class="fst-italic">
            En este portal podras consultar, en tiempo real, las metricas mas relevantes de tu operacion tales como:
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Los KPI's de las entregas realizadas mediante nuestros circuitos logisticos.</li>
            <li><i class="ri-check-double-line"></i> Posibles patrones encontrados en el comprotamiento de tu operacion.</li>
            <li><i class="ri-check-double-line"></i> Metricas sobre el almacenamiento de tu mercaderia en nuestro Whare House.</li>
          </ul>
          <p>
            Con los que tendras un mejor entendimiento de tu operacion. Una herramienta fundamental en la actualidad para la toma de desiociones 
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  {% endblock main_body %}

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Intralog S<span>.</span>A<span>.</span></h3>
              <p>
                Santiago del estero 804 <br>
                Buenos Aires, Argentina<br><br>
                <strong>Telefono:</strong> +54 0348 462-4718<br>
                <strong>Email:</strong> info@intralog.com.ar<br>
              </p>
              <div class="social-links mt-3">
                <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links de interes</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#header">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'construccion' %}">Acerca</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'construccion' %}">Servicios</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li> -->
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'construccion' %}">Politica de privacidad</a></li>
            </ul>
          </div>

          <!-- <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div> -->

          <div class="col-lg-4 col-md-6 footer-newsletter" style="position: relative; right: 0;">
            <h4>Quiero que me contacten</h4>
            <p>Dejanos tu mail y te contactaremos a la brevedad</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Enviar">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Gp</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>, powered by <a href="https://bootstrapmade.com/">Felipe Torres</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
<script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>


  <!-- Template Main JS File -->
  <!-- <script src="assets/js/main.js"></script> -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>

<script>
  function confirmLogout() {
      var confirmation = confirm("Estas seguro que quieres desloguearte?");
      if (confirmation) {
          // If user confirms, redirect to the logout URL
          window.location.href = "{% url 'logout' %}";
      } else {
          // If user cancels, do nothing
          // You can add additional actions here if needed
      }
  }
</script>